{{#if newPostForm}}
  <div>
    <form>
      <div>
        <label for="title">Title</label>
          {{input value=title id="title"}}
      </div>
      <br>
      <div>
        <label for="body">Body</label>
          {{textarea value=body id="body"}}
      </div>
      <br>
      <div>
        <label for="image">Picture</label>
          {{input value=image id="image"}}
      </div>
      <br>
      <button {{action 'save1'}}>Save Post</button>
    </form>
  </div>
  {{else}}
  <button {{action 'newPostFormShow'}}>New Post</button>
{{/if}}
