<h2>Welcome</h2>

<ul>
  {{#each model.posts as |post|}}

  {{post-tile post=post}}
  {{/each}}
</ul>

{{new-post save2="save3"}}

<ul>
  {{#each model.comments as |comment|}}

  {{comment-tile comment=comment}}
  <li>{{comment.name}}</li>
  <li>{{comment.commentPost}}</li>
  {{/each}}
</ul>
