<h2>{{model.post.title}}</h2>
{{post-details post=model.post destroyPost="destroyPost"}}
{{update-post post=model.post update="update"}}
{{new-comment commentSave2="commentSave3"}}

{{comment-tile comments=model.comments}}
